name: Update Timestamp

on:
  push:
    branches:
      - main

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Update Timestamp
        run: |
          date_str=$(date "+%Y-%m-%d %H:%M:%S")
          sed -i "s/.*/$date_str/g" README.md

      - name: Commit and Push
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add README.md
          git commit -m "docs: auto-update timestamp" || exit 0
          git push